services:
  url-shortener-app:
    build: .
    container_name: url-shortener-app
    ports:
      - "8080:8080"
    networks:
      - monitoring
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - monitoring
    depends_on:
      - url-shortener-app

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - monitoring
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus

  frontend:
    build: ./frontend
    container_name: url-shortener-frontend
    ports:
      - "80:80"
    networks:
      - monitoring
    depends_on:
      - url-shortener-app

networks:
  monitoring:
    driver: bridge
